*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

.width-height-100 {
	width: 100%;
	height: 100%
}

/* flex常用布局模式 */
/* 换行 */
.flex-wrap {
	flex-wrap: wrap;
}

/* 强制不随页面宽度变化，固定宽度 */
.flex-shrink-0 {
	flex-shrink: 0;
}

.flex-1 {
	flex: 1;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-start-center {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.flex-row-start-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

.flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-row-center-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-row-center-start {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.flex-row-center-end {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-row-between-center {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-row-between-end {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.flex-row-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.flex-row-end-center {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-column-start-center {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-column-center-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-column-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-column-between-center {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.flex-column-end {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.flex-column-end-center {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

/* 绝对定位 */
.p-top {
	position: absolute;
	top: 0;
}

.p-bottom {
	position: absolute;
	bottom: 0;
}

.p-left {
	position: absolute;
	left: 0;
}

.p-right {
	position: absolute;
	right: 0;
}

.p-top-left {
	position: absolute;
	top: 0;
	left: 0;
}

.p-top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.p-bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.p-bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

/** 外边距 **/
.m-center {
	margin: 0 auto
}

.m-t-0 {
	margin-top: 0 !important;
}

.m-b-0 {
	margin-bottom: 0 !important;
}

.m-l-0 {
	margin-left: 0 !important;
}

.m-r-0 {
	margin-right: 0 !important;
}

/* 文本类 */
.cursor-pointer {
	cursor: pointer;
	user-select: none;
}

.f-bold {
	font-weight: bold;
}

.text-hide {
	overflow: hidden;
}

.text-unlink {
	text-decoration: none;
}

/** 文本类基础-文字换行 **/
.text-base {
	overflow-wrap: break-word;
	word-break: break-all;
}

/** N行省略 **/
.text-line1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-line2 {
	word-break: break-all;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.text-line3 {
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.text-line4 {
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.text-line5 {
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.text-line6 {
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* 布局类  */
.dis-block {
	display: block;
}
